<style type="text/css">
p.markdown-html.panel-text-content {
overflow: hidden;
}
p.markdown-html.panel-text-content iframe {
height:225px;
}
</style>

<script type="text/javascript">
var weatherProperties = 'lat=NN.NNNNNN&lon=NN.NNNNNN&color=#FFFFFF&text-color=#FFFFFF';

// initial load
document.getElementById('embedweather').src = 'http://forecast.io/embed/?ts=' + (Date.now()) + '#' + weatherProperties;

// refresh
var weatherRefresh = setInterval(function() { document.getElementById('embedweather').src = 'http://forecast.io/embed/?ts=' + (Date.now()) + '#' + weatherProperties; }, 1800000);

</script>
<iframe id="embedweather" height="100%" src="#" style="margin: 0; padding: 0; border: none; width:100%; position:relative; top:-50px; overflow:hidden; margin-bottom: -70px;"></iframe>